[submodule "database"]
	path = database
	url = https://github.com/Byte-Benders-Fatec/api-1sem-2025-database.git
[submodule "backend"]
	path = backend
	url = https://github.com/Byte-Benders-Fatec/api-1sem-2025-backend-2.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Byte-Benders-Fatec/api-1sem-2025-frontend-2.git
